<!DOCTYPE html>
<html>

<head>

</head>

<body>
    <form id="contactForm" method="post" action="/contactFomr">
        Name : <input type="text" name="name" /><br> City : <input type="text" name="city" />
        <input type="submit" value="submit" />
    </form>
</body>

</html>