<!DOCTYPE html>
<html>
<link rel="/assets/style.css" rel="stylesheet" type="text/css" />

<head>

</head>

<body>
    <% include partial/nav.ejs %>
        <strong><h1>This is home page</h1></strong>
        <p>style will be applide to this tag only</p>
</body>

</html>